.messenger-container {
    @import url(https://fonts.googleapis.com/css?family=Koulen:regular);
    
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 5px;
    margin-bottom: 10px;
}

.messenger-wrap { 
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 12vw;
    width: 80%;
    min-height: 100%;
}

.messenger-left {
    width: 40%;
    background: rgba( 244, 238, 238, 0 );
    padding: 10px 20px;
    box-shadow: 0 8px 20px 0 rgba(135, 31, 118, 0.37);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.messenger-left-body-wrap {
    display: flex;
    align-items: center;
}
.messenger-left-body-wrap a {
    text-decoration: none;
    font-size: 32px;
    font-weight: 400;
    color: rgb(214, 213, 213);
}
.messenger-left-body-wrap a:hover{
    color: rgb(177, 3, 3);
}
.messenger-right{
    width: 60%;
    min-height: 100%;
    margin: 0 10px;
    background: rgba(139, 139, 139, 0.062);
    box-shadow: 0 8px 20px 0 rgba(135, 31, 118, 0.37);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.message-body { 
    background: rgba(20, 85, 123, 0.178);
    box-shadow: 0 8px 32px 0 rgba(135, 31, 79, 0.37);
    backdrop-filter: blur( 1.5px );
    -webkit-backdrop-filter: blur( 1.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding:10px;
    width:50%;
    border-radius: 10px;
    color: white;
    align-self: flex-start;
}

.messenger-right-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.messenger-right-top {
    overflow-y: auto;
    max-height: 55vh;
}
.messenger-right-bottom{
    width: 90%;
    margin: 0 auto;
}
.messenger-right-top-message{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.messenger-right-top-message-header{
    display: flex;
    flex-wrap: nowrap;
    font-size: 10px;
}

.create-message {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande';
    width: 100%;
    height: 100px;
    resize: none;
    border-radius: 10px;
    background: none;
    color:#fff;
    border: 2px solid rgba(255, 0, 98, 0.445);
}
.create-message:focus {
    background: none;
    border: 4px solid rgba(255, 0, 98, 0.445);
    outline: none;
}
.message-button {
    align-self: flex-end;
    position: relative;
    margin-top: 1vh;
    background: none;
    border: 2px solid #121212;
    color: #fff;
    width: 100px;
    height: 50px;
    border-radius: 6px;
    transition: color 1.5s;
}
.message-button:is(:hover:focus) {
    color: #fff;
}

.message-button::after {
    content: "";
    inset: 0;
    z-index: -1;
    position: absolute;
    border-radius: 6px;
    background-color: #121212;

    transform-origin: left;
    transform: scaleX(0);
    transition: transform 1.5s;
}

.message-button:is(:hover:focus)::after {
    transform: scale(1);
}

.profile-invalid {
    -webkit-box-shadow: 0px 0px 15px #db0000;
    -moz-box-shadow: 0px 0px 15px #db0000;
    box-shadow: 0px 0px 15px #db0000;
}
.profile-valid {
        -webkit-box-shadow: 0px 0px 15px #00ac48;
        -moz-box-shadow: 0px 0px 15px #00ac48;
        box-shadow: 0px 0px 15px #00ac48;
}